@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";
@import "variables";
@import "helpers";

/* 1. Boxes.................. */
/* 2. Buttons................ */
/* 3. Cards.................. */
/* 4. Forms.................. */
/* 5. Hamburger.............. */
/* 6. Header................. */
/* 7. Logo................... */
/* 8. Modals................. */

/* --------------- 1. BOXES --------------- */
.sms-form-box {
  background-color: $gray-100;
  padding: 1rem;
  @include media-breakpoint-up(sm) {
    padding: 2rem;
  }
}
.sms-form-box__neu {
  @extend .sms-form-box;
  @include neu__box($gray-100)
}

/* --------------- 2. BUTTONS --------------- */
.sms-button__cta {
  @extend .btn-lg;
  width: 80%;
  max-width: 25rem;
  min-height: 4rem;
  padding: 1rem;
  border-radius: 45px;
}
.sms-button__list-group-icon {
  padding: .5rem;
  min-width: 46px;
  min-height: 46px;
}

/* --------------- 3. CARDS --------------- */
.card {
  @include neu__box($gray-100);
}

/* --------------- 4. FORMS --------------- */
.form-control {
  border-radius: 10px;
  padding: .5rem;
}
.form-header {
  border-bottom: 1px solid $border-color;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/* --------------- 5. HAMBURGER --------------- */
.navbar-toggler[aria-expanded="false"] {
  .sms-burger-icon {
    display: inline-block;
  }
  .sms-burger-icon__expanded {
    display: none;
  }
}
.navbar-toggler[aria-expanded="true"] {
  .sms-burger-icon {
    display: none;
  }
  .sms-burger-icon__expanded {
    display: inline-block;
  }
}

/* --------------- 6. HEADER --------------- */
.navbar {
  padding-left: 1rem;
  padding-right: 1rem;
  .navbar-nav {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    margin-bottom: .5rem;
    padding: 1rem;
    button {
      margin: .5rem 0;
      @include media-breakpoint-up(lg) {
        margin: auto;
      }
    }
  }
  &.border-bottom {
    box-shadow: 2px 2px 6px $border-color;
  }
  @include media-breakpoint-up(lg) {
    .navbar-nav {
      margin-bottom: 0;
      margin-left: auto;
    }
  }
}

/* --------------- 7. LOGO --------------- */
.sms-logo {
  .sms-logo__image {
    width: 30px;
  }
  .sms-logo__text {
    font-weight: lighter;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  @include media-breakpoint-up(sm) {
    .sms-logo__image {
      width: 40px;
    }
  }
}

/* --------------- 8. MODALS --------------- */
.modal-dialog {
  max-width: 730px;
  @include media-breakpoint-down(md) {
    margin: 1rem;
  }
}
.modal-content {
  @extend .sms-form-box;
  border-radius: 10px;
}

