@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";
@import "variables";
@import "mixins";

/* 1. Buttons................... */
/* 2. Fonts..................... */
/* 3. Text colors............... */
/* 4. Misc...................... */

/* --------------- 1. BODY --------------- */
body {
  font-size: $sms-font-size__small;
  @include media-breakpoint-up(sm) {
    font-size: $sms-font-size__normal;
  }
}

/* --------------- 1. BUTTONS --------------- */
.btn {
  font-weight: lighter;
  font-size: $sms-font-size__small;

  @include media-breakpoint-up(sm) {
    font-size: $sms-font-size__normal;
  }
  &.btn__neu {
    @include neu__button();
  }
  &.btn-outline-secondary {
    border: 1px solid $secondary;
  }
}

/* --------------- 2. FONTS --------------- */
p.small {
  font-size: $sms-font-size__small;
}

/* --------------- 3. TEXT COLORS --------------- */
.text-black {
  color: $smsc-black !important;
}
.text-white {
  color: $smsc-white!important;
}

/* --------------- 4. MISC. --------------- */
.top-spacer {
  height: 58px;
  @include media-breakpoint-up(sm) {
    height: 68px;
  }
  @include media-breakpoint-up(lg) {
    height: 90px;
  }
}
