@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";
@import "variables";
@import "mixins";

/* 1. Body...................... */
/* 2. Borders................... */
/* 3. Buttons................... */
/* 4. Fonts..................... */
/* 5. Text colors............... */
/* 6. Misc...................... */

/* --------------- 1. BODY --------------- */
body {
}

/* --------------- 2. BORDERS --------------- */

@include media-breakpoint-up(lg) {
  .border-lg-none {
    border: none !important;
  }
}


/* --------------- 3. BUTTONS --------------- */
.btn {
  font-weight: lighter;
  &.btn__neu {
    @include neu__button();
  }
  &.btn-outline-secondary {
    border: 1px solid $secondary;
  }
}

/* --------------- 4. FONTS --------------- */
.fs-sms-sm {
  font-size: $sms-font-size__sm;
}
.fs-sms-lg {
  font-size: $sms-font-size__lg;
}

/* --------------- 5. TEXT COLORS --------------- */
.text-black {
  color: $smsc-black !important;
}
.text-white {
  color: $smsc-white!important;
}

/* --------------- 6. MISC. --------------- */
.top-spacer {
  height: 58px;
  @include media-breakpoint-up(sm) {
    height: 68px;
  }
  @include media-breakpoint-up(lg) {
    height: 90px;
  }
}
.cursor-pointer {
  cursor: pointer;
}
