/* --------------- COLORS --------------- */

/* ----- SMS colors ----- */
// smsc = sms-color
$smsc-primary: #3a547e;
$smsc-secondary: #ebf02b; // not allowed as btn-outline
$smsc-danger: #cb1e12;
$smsc-success: #286717;
$smsc-black: #161c1b;
$smsc-white: #fefefe;

/* ----- Bootstrap overrides ----- */
$body-color: $smsc-black;
$body-bg: $smsc-white;

$primary:       $smsc-primary;
$secondary:     $smsc-secondary;
$success:       $smsc-success;
$info:          darken($smsc-success, 20%);
$warning:       darken($smsc-danger, 20%);
$danger:        $smsc-danger;
$light:         $smsc-white;
$dark:          $smsc-black;
