/* --------------- COLORS --------------- */

/* ----- SMS colors ----- */
// smsc = sms-color
$smsc-primary: #DB006E;
$smsc-secondary: #3a547e; // not allowed as btn-outline
$smsc-danger: #cb1e12;
$smsc-success: #286717;
$smsc-black: #161c1b;
$smsc-white: #fefefe;

/* ----- Bootstrap overrides ----- */
$body-color: $smsc-black;
$body-bg: $smsc-white;

$primary:       $smsc-primary;
$secondary:     $smsc-secondary;
$success:       $smsc-success;
$info:          darken($smsc-success, 20%);
$warning:       darken($smsc-danger, 20%);
$danger:        $smsc-danger;
$light:         $smsc-white;
$dark:          $smsc-black;

$font-family-sans-serif:      "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-weight:        600;
$btn-font-weight:             300;
