/* --------------- COLORS --------------- */

/* ----- SMS colors ----- */
// smsc = sms-color
$smsc-primary:    #f8af1e;
$smsc-secondary:  #014f74;
$smsc-tertiary:   darken($smsc-primary, 23%);
$smsc-danger:     #cb1e12;
$smsc-success:    #286717;
$smsc-info:       $smsc-tertiary;
$smsc-warning:    #014f74;
$smsc-black:      #161c1b;
$smsc-white:      #ffffff;

$gray-100: darken($smsc-white, 2%); // used as modal/form bg
$gray-200: darken($smsc-white, 4%); // used as darker modal/form bg
$gray-300: darken($smsc-white, 6%); // used as border-color
$gray-400: lighten($smsc-secondary, 67%);
$gray-500: lighten($smsc-secondary, 65%);
$gray-600: darken($smsc-white, 65%);

/* ----- Font size ----- */
$sms-font-size__sm: .875rem;
$sms-font-size__normal: 1rem;
$sms-font-size__lg: 1.25rem;

/* ----- Bootstrap overrides ----- */
$body-color:          $smsc-black;
$body-bg:             $smsc-white;
$link-color:          $smsc-secondary;
$nav-link-color:      $smsc-secondary;
$input-border-color:  $gray-300;

$primary:       $smsc-primary;
$secondary:     $smsc-secondary;
$success:       $smsc-success;
$info:          $smsc-info;
$warning:       $smsc-warning;
$danger:        $smsc-danger;
$light:         $smsc-white;
$dark:          $smsc-black;

$font-family-sans-serif: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-weight: 500;

$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
$navbar-dark-color: $smsc-white;
$navbar-light-color: $smsc-black;
$navbar-light-active-color: $smsc-secondary;
$navbar-dark-active-color: lighten($smsc-secondary, 30%);
$navbar-light-active-color: $smsc-tertiary;

$card-cap-bg: $gray-200;

$tooltip-bg: $smsc-secondary;

$list-group-bg: $gray-100;
$list-group-border-color: $gray-300;

$enable-gradients:            true;
$headings-color: $secondary;




